footer {
  background-color: $main-background;

  nav {    
    div {
      a {
        font-size: large;
        text-decoration: none;
        color: $main-font-color;
        &:hover{
          color: $title-color;
        }

        ul {
          li {
            a {
             color: $main-font-color;
             &:hover{
              color: $title-color;
             }
            }
          }
        }
      }
    }
  }
}