$main-font-color:#f5f5dc !important;
$secondary-font-color:#cfd0cc;
$main-background: #1c1e1f !important;
$title-color: #667934 !important;
//Uso importants para pasar las clases creadas por bootstrap :S